In [2]:
import pandas as pd
import numpy as np
import nltk

In [3]:
from nltk.sentiment import SentimentIntensityAnalyzer
sid=SentimentIntensityAnalyzer()

In [4]:
file=r'C:\Users\umairansari\Desktop\nlp\moviereviews.tsv'

In [5]:
movie_rev=pd.read_csv(file,sep='\t')

In [6]:

movie_rev.head(5)

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [15]:
movie_rev.shape

(2000, 2)

In [17]:
movie_rev.dropna(inplace=True)

In [18]:
movie_rev.shape

(1965, 2)

In [19]:
blanks=[]
for i,lb,rv in movie_rev.itertuples():
    if type(rv)==str:
        if rv.isspace():
            blanks.append(i)

In [20]:
movie_rev.drop(blanks,inplace=True)

In [21]:
movie_rev.shape

(1938, 2)

In [22]:
movie_rev["compound"]=movie_rev["review"].apply(lambda review:sid.polarity_scores(review))

In [23]:
movie_rev.head(5)

,label,review,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [24]:
movie_rev["com_score"]=movie_rev["compound"].apply(lambda l:l['compound'])

In [25]:
movie_rev.head()

,label,review,compound,com_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264

In [28]:
movie_rev["rev"]=movie_rev['com_score'].apply(lambda x:'pos'if x>=0 else 'neg')

In [30]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [32]:
print(classification_report(movie_rev['label'],movie_rev['rev']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [34]:
confusion_matrix(movie_rev['label'],movie_rev['rev'])

array([[427, 542],
       [162, 807]], dtype=int64)

In [35]:
accuracy_score(movie_rev['label'],movie_rev['rev'])

0.6367389060887513